<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectlocator">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:name=".RealmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Util.Job.LocatorService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".RegistrationRenteeActivity"
            android:label="@string/title_activity_registration_rentee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationHouseOwnerActivity"
            android:label="@string/title_activity_registration_house_owner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreviewHouseDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preview Details"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".PreviewRenteeDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preview Details"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".SuccessRegistrationActivity" />
        <activity
            android:name=".RenteePortalActivity"
            android:label="My Portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditRenteeDetailsActivity"
            android:label="Edit Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapTestActivity"
            android:label="@string/title_activity_map_test" />
        <activity android:name=".SearchHouseParamActivity" />
        <activity
            android:name=".SearchResultActivity"
            android:label="List of Rental Houses" />
        <activity
            android:name=".SearchResult2Activity"
            android:label="List of Rental Houses" />
        <activity
            android:name=".ViewHouseDetailsActivity"
            android:label="House Details" />
        <activity
            android:name=".MapsHouseDirectionActivity"
            android:label="@string/title_activity_maps_house_direction" />
        <activity
            android:name=".HouseOwnerPortalActivity"
            android:label="@string/title_activity_house_owner_portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditHouseOwnerActivity"
            android:label="@string/title_activity_edit_house_owner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditHouseDetailsActivity"
            android:label="@string/title_activity_edit_house_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditHouseAddressActivity"
            android:label="@string/title_activity_edit_house_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UploadHouseImageActivity" />
        <activity android:name=".HouseGalleryActivity"></activity>
    </application>

</manifest>